* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html,
body {
    min-width: 0;
    min-height: 0;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}

#canvas {
    transform-origin: 0 0;
    position: absolute;
    top: 0;
    left: 0;
}

#ui-container {
    position: absolute;
    bottom: 0;
}

#clear,
#predict {
    width: 100%;
    height: 50%;
    border-radius: 0%;
}

#result-container {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #222222;
    opacity: 0.8;
    border-radius: 5px;
}

#result-container div {
    margin: 2px;
    color: white;
}